.site-header {
	position: fixed;
	padding: ($padding / 2) $padding / 2;

	@include mappy-bp(large) {
		padding: ($padding / 2) $padding;
	}

	span {
		padding-right: $padding;
		line-height: 18px;
	}
}
