<section class="c-intro o-layout o-layout--centered-h">
    <div class="c-intro__wrapper o-layout__item u-12 o-layout o-layout--centered-h">
        <div class="c-intro-headline o-layout__item u-noselect t-bold js-intro-quotes" data-aos="fade-up">
            {% for quote in site.data.quotes %}
                <p class="c-intro-headline__quote js-intro-quote">{{ quote.content }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="c-intro-parallax">
        {% assign image_parallax = site.home_parallax %}
        {% include image-parallax.html %}
    </div>
</section>
