<div class="intro-body jsIntroBody">
    <div class="intro-content" aria-label="Content">
        <article class="c-message jsMessage">
            <p>
                Web3 Summit 2019<br>
                Funkhaus Berlin<br>
                August 19-21<br>
            </p>
        </article>
    </div>

    <style>
        .c-bg-grid__container {
            background: url('{{ site.baseurl }}/assets/images/w3s-intro/grid-21x21px-offset.png') repeat;
        }
    </style>

    <div class="c-bg-grid jsBg">
        <div class="c-bg-grid__container jsBgContainer"></div>
        <div class="c-bg-grid__container c-bg-grid__container--static jsBgContainerStatic"></div>
        <div class="c-bg-grid__mask jsBgMask"></div>
        <div class="c-bg-grid__mask-vh jsBgMaskVH"></div>
    </div>
</div>
