---
layout: default
---

<div class="home">


	<section class="project project--w3fi">
		<div class="project__header">
			<h2>Web3 Foundation</h2>
			<p>web development, interactive animations</p>

		</div>
		<div class="project__content">
			<div class="project-item">
				{% include w3f-headlines.html %}
			</div>
		</div>
	</section>

	<section class="project project--w3s">
		<div class="project__header">
			<h2>Web3 Summit</h2>
			<p>web development, interactive animations</p>

		</div>
		<div class="project-grid project__content">
			<div class="project-item project-grid__item" data-aos="fade-up">
				<img src="{{ '/assets/images/w3s/01.jpg' | relative_url }}">
			</div>
			<div class="project-item project-grid__item" data-aos="fade-up">
				<img src="{{ '/assets/images/w3s/02.jpg' | relative_url }}">
			</div>
		</div>
		<div class="project__content project__content--100vw">
			<div class="project-item">
				{% include w3s-intro.html %}
			</div>
		</div>
	</section>

	<section class="project project--acud">
		<div class="project__header">
			<h2>Acud Macht Neu</h2>
			<p>art direction, design, web development</p>
		</div>
		<div class="project-grid project__content">
			<div class="project-item project-grid__item" data-aos="fade-up">
				<img src="{{ '/assets/images/acud/01.jpg' | relative_url }}">
			</div>
			<div class="project-item project-grid__item" data-aos="fade-up">
				<img src="{{ '/assets/images/acud/02.jpg' | relative_url }}">
			</div>
			<div class="project-item project-grid__item" data-aos="fade-up">
				<img src="{{ '/assets/images/acud/04.jpg' | relative_url }}">
			</div>
			<div class="project-item project-grid__item" data-aos="fade-up">
				<img src="{{ '/assets/images/acud/03.jpg' | relative_url }}">
			</div>
			<div class="project-item project-grid__item" data-aos="fade-up">
				<img src="{{ '/assets/images/acud/05.jpg' | relative_url }}">
			</div>
		</div>
	</section>

	<section class="project project--blenderkit">
		<div class="project__header">
			<h2>Blenderkit</h2>
			<p>audio-visual production, design, copy-writing</p>

		</div>
		<div class="project__content project__content--100vw" data-aos="fade-up">
			<div class="project-item project-item--video">
				<div class="project-video-wrapper">
					<div class="project-video">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/cEA_KOaT6tU" frameborder="0"
							allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="project-grid project__content">
			<div class="project-item project-grid__item" data-aos="fade-up">
				<img src="{{ '/assets/images/blenderkit/01.jpg' | relative_url }}">
			</div>
			<div class="project-item project-grid__item" data-aos="fade-up">
				<img src="{{ '/assets/images/blenderkit/02.jpg' | relative_url }}">
			</div>
			<div class="project-item project-grid__item" data-aos="fade-up">
				<img src="{{ '/assets/images/blenderkit/03.jpg' | relative_url }}">
			</div>
		</div>
	</section>

	<section class="project project--wzh">
		<div class="project__header">
			<h2>Wzh</h2>
			<p>web development, interactive animations</p>
		</div>
		<div class="project__content">
			<div class="project-item" data-aos="fade-up">
				<video loop autoplay>
					<!-- <source src="/assets/video/examples/flower.webm" type="video/webm"> -->
					<source src="/assets/video/wzh.mp4" type="video/mp4">
				</video>
			</div>
		</div>
	</section>


	<section class="project project--art">
		<div class="project__header">
			<h2>Artists</h2>
			<p>web development, interactive animations</p>

		</div>
		<div class="project__content">
			<div class="project-item" data-aos="fade-up">
				<img src="{{ '/assets/images/art/01.jpg' | relative_url }}">
			</div>
		</div>
		<div class="project-grid project__content">
			<div class="project-item project-grid__item" data-aos="fade-up">
				<img src="{{ '/assets/images/art/02.jpg' | relative_url }}">
			</div>
			<div class="project-item project-grid__item" data-aos="fade-up">
				<img src="{{ '/assets/images/art/03.jpg' | relative_url }}">
			</div>
		</div>

	</section>

</div>
