.c-bg-grid {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	overflow: hidden;

	&__container {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		// background: url(/assets/images/w3s-intro/grid-21x21px-offset.png) repeat;

		.is-interaction3 & {
			opacity: 0;
		}

		&--static {
			opacity: 0;
			background-color: black;
		}
	}
}
