@charset "UTF-8";
$unit: 21px;

// @font-face {
//   font-family: 'SuisseInt-Regular';
//   src: url('../fonts/SuisseIntlMono-Regular-WebS.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/SuisseIntlMono-Regular-WebS.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/SuisseIntlMono-Regular-WebS.woff2') format('woff2'), /* Super Modern Browsers */
//        url('../fonts/SuisseIntlMono-Regular-WebS.woff') format('woff'), /* Pretty Modern Browsers */
//        url('../fonts/SuisseIntlMono-Regular-WebS.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/SuisseIntlMono-Regular-WebS.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

// @font-face {
//   font-family: 'SuisseInt-Bold';
//   src: url('../fonts/SuisseIntlMono-Bold-WebS.eot'); /* IE9 Compat Modes */
//   src: url('../fonts/SuisseIntlMono-Bold-WebS.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fonts/SuisseIntlMono-Bold-WebS.woff2') format('woff2'), /* Super Modern Browsers */
//        url('../fonts/SuisseIntlMono-Bold-WebS.woff') format('woff'), /* Pretty Modern Browsers */
//        url('../fonts/SuisseIntlMono-Bold-WebS.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fonts/SuisseIntlMono-Bold-WebS.svg#svgFontName') format('svg'); /* Legacy iOS */
// }

@mixin fontRegular {
	font-family: "SuisseInt-Regular", sans-serif;
	font-weight: normal;
}

@mixin fontBold {
	font-family: "SuisseInt-Bold", sans-serif;
	font-weight: normal;
}

@import "base";
@import "layout";
@import "c-bg-grid";
@import "c-message";
